:root {
  --dark-blue: #2d314d;
  --lime-green: #31d35c;
  --bright-cyan: #2bb7da;
  --grayish-blue: #9698a6;
  --light-grayish-blue: #f3f4f6;
  --very-light-gray: #fafafa;
  --white: #ffffff;
  --green-cyan-gradient: linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 0%,
    rgba(43, 183, 218, 1) 80%
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  box-sizing: border-box;
  color: var(--grayish-blue);
}

h1,
h2,
h3 {
  color: var(--dark-blue);
}

h1 {
  font-size: 3.5rem;
}

/* ------------------------------------------- Utilities --------------------------------------------- */

.cta {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: none;
  border-radius: 40px;
  padding: 0.8rem 2.4rem;
  color: var(--white);
  background: var(--lime-green);
  background: var(--green-cyan-gradient);

  &:hover,
  &:active {
    opacity: 0.7;
  }
}

/* ------------------------------------------- Navbar --------------------------------------------- */

.navbar {
  height: 70px;
  z-index: 10000 !important;
}

.navbar-nav {
  min-height: 100% !important;
}

.navbar-content {
  min-height: 100%;
}

.nav-item {
  position: relative;
}

.nav-item:has(.nav-link:hover)::before {
  opacity: 1;
}

.nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: var(--green-cyan-gradient);
  transition: opacity 0.3s;
  opacity: 0;
}

/* ------------------------------------------- Hero Section --------------------------------------------- */
.section-hero {
  background-color: var(--light-grayish-blue);
}

.hero-content img {
  position: absolute;
  top: -35vw;
  left: 0;
  right: 0;
}

.hero-content__banner {
  position: relative;
  min-height: 210px;
  height: 87vw;
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: top -5vh left 0;
  background-size: cover;
}

.hero-content__text {
  padding: 4rem 2rem;
}

/* ======================================= Media Queries ======================================= */

@media (min-width: 500px) and (max-width: 651px) {
  h1 {
    font-size: 4rem;
  }
  .hero-content__text {
    padding: 8rem;
    gap: 5rem !important;
  }
}

@media (min-width: 650px) and (max-width: 992px) {
  h1 {
    font-size: 4rem;
  }

  .hero-content__banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-content img {
    display: block;
    position: static;
    width: 70% !important;
    margin: 0 auto;
  }

  .hero-content__text {
    padding: 10rem 10rem 8rem 10rem;
    gap: 6rem !important;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 1.6rem;
  }

  .hero-content {
    height: auto !important;
  }

  .hero-content__banner {
    position: relative;
    height: auto !important;
    background-image: url("../images/bg-intro-desktop.svg");
    background-position: top -15rem left 6rem;
    background-size: 120%;
  }

  .hero-content__banner img {
    width: 80% !important;
    position: absolute;
    top: -7rem;
    right: -45%;
  }

  .hero-content__text {
    text-align: left !important;
    padding: 6rem 0 6rem 6rem;
    gap: 3rem !important;
  }
}

@media (min-width: 1140px) {
  h1 {
    font-size: 4.5rem;
  }

  .hero-content__banner img {
    top: -9rem;
  }

  .hero-content__text {
    padding: 9rem 0 9rem 9rem;
  }
}

@media (min-width: 1300px) {
  h1 {
    font-size: 5.5rem;
  }

  .hero-content__banner {
    background-position: top -19rem left 6rem;
    background-size: 120%;
  }

  .hero-content__text {
    padding: 12rem 0 12rem 12rem;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    min-height: auto !important;
  }
  .navbar-content {
    z-index: 10 !important;
    position: absolute;
    top: 70px;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    right: 0;
    left: 0;
    padding: 2.5rem;
    transition: none;
  }

  .nav-item::before {
    display: none;
  }
}
